.DS_Store
*~
*.o
*.a
*.so
*.aux
*.cmake
optimizer/Tests/*.exe
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.h
src/OPALconfig.h
Makefile
revision.h
src/OPALrevision.h
src/opal
tests/tools/gtest
tests/opal_unit_tests
tests/OpalSourcePath.h
doc/user_guide/opal_user_guide.bcf
doc/user_guide/opal_user_guide.idx
doc/user_guide/opal_user_guide.lof
doc/user_guide/opal_user_guide.log
doc/user_guide/opal_user_guide.lot
doc/user_guide/opal_user_guide.out
doc/user_guide/opal_user_guide.pdf
doc/user_guide/opal_user_guide.run.xml
doc/user_guide/opal_user_guide.synctex.gz
doc/user_guide/opal_user_guide.toc

tests/opal_src/PyOpal/dummy_lattice/RINGDEF.loss
tests/opal_src/PyOpal/dummy_lattice/dummy_lattice-trackOrbit.dat
tests/opal_src/PyOpal/dummy_lattice/dummy_lattice.h5
tests/opal_src/PyOpal/dummy_lattice/dummy_lattice.lbal
tests/opal_src/PyOpal/dummy_lattice/dummy_lattice.mem
tests/opal_src/PyOpal/dummy_lattice/dummy_lattice.stat
tests/opal_src/PyOpal/dummy_lattice/timing.dat
tests/opal_src/PyOpal/test.log
